examples/ac-in-voltage-alarm.json
[{"id":"bcd7c76a.b16a7","type":"subflow","name":"at slip?","info":"","in":[{"x":60,"y":80,"wires":[{"id":"bf97f057.6c6908"}]}],"out":[{"x":420,"y":60,"wires":[{"id":"bf97f057.6c6908","port":0}]},{"x":420,"y":120,"wires":[{"id":"bf97f057.6c6908","port":1}]}],"outputLabels":["yes","no"]},{"id":"bf97f057.6c6908","type":"function","z":"bcd7c76a.b16a7","name":"is at slip","func":"\n\n\nlet geodist = global.get('geodist')\nlet app = global.get('app')\n\nlet slipLocation = { \n    lat : 39.063125,\n    lon: -76.4872533333333\n}\n\nlet pos = app.getSelfPath('navigation.position.value')\n\nif ( pos ) {\n    let distanceFromSlip = geodist(slipLocation, \n      {lat: pos.latitude, lon: pos.longitude}, { units: 'feet'})\n    if ( distanceFromSlip > 50 ) {\n        return [null, msg];\n    } else {\n        return [msg, null];\n    }\n}\n\n","outputs":2,"noerr":0,"x":220,"y":80,"wires":[[],[]],"outputLabels":["yes","no"]},{"id":"9d05e907.a5601","type":"tab","label":"AC Voltage Alarm","disabled":false,"info":""},{"id":"b446df4c.06ef4","type":"switch","z":"9d05e907.a5601","name":"Voltage Low?","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"100","vt":"str"},{"t":"gte","v":"100","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":460,"y":120,"wires":[["9fe1404a.8ce8d8"],["e515e21.ad267a"]],"outputLabels":["yes","no"]},{"id":"e515e21.ad267a","type":"signalk-send-notification","z":"9d05e907.a5601","name":"Clear AC in Alarm","path":"electrical.inverters.261.acin.voltage","state":"normal","message":"There is now power at dock 1","visual":true,"sound":true,"x":670,"y":160,"wires":[]},{"id":"fda6c8f0.eebfc","type":"subflow:bcd7c76a.b16a7","z":"9d05e907.a5601","name":"","x":270,"y":120,"wires":[["b446df4c.06ef4"],[]]},{"id":"9fe1404a.8ce8d8","type":"signalk-send-notification","z":"9d05e907.a5601","name":"Send AC in Alarm","path":"electrical.inverters.261.acin.voltage","state":"alarm","message":"The power at dock 1 is OUT!","visual":true,"sound":true,"x":670,"y":80,"wires":[]},{"id":"6b49ee9b.611ce","type":"e-mail","z":"9d05e907.a5601","server":"smtp.gmail.com","port":"465","secure":true,"name":"scott@scottbender.net","dname":"","x":740,"y":620,"wires":[]},{"id":"91b33042.b176c8","type":"rbe","z":"9d05e907.a5601","name":"if changed","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":530,"y":540,"wires":[["6b49ee9b.611ce"]]},{"id":"8407584d.56fce8","type":"signalk-subscribe","z":"9d05e907.a5601","name":"AC In Voltage","flatten":true,"context":"vessels.self","path":"electrical.inverters.261.acin.voltage","period":"30000","x":90,"y":120,"wires":[["fda6c8f0.eebfc"]]},{"id":"8943665a.622d2","type":"inject","z":"9d05e907.a5601","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":720,"wires":[[]]},{"id":"53aa7a57.92450c","type":"inject","z":"9d05e907.a5601","name":"","topic":"","payload":"120","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":660,"wires":[[]]},{"id":"998e58da.0499b","type":"signalk-notification","z":"9d05e907.a5601","name":"","notification":"electrical.inverters.261.acin.voltage","state":"any","x":110,"y":540,"wires":[["4344f958.8d3a4"]]},{"id":"4344f958.8d3a4","type":"change","z":"9d05e907.a5601","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.value.message","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"msg.payload.value.message","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":540,"wires":[["91b33042.b176c8"]]}]
