examples/adjust-depth.json
[{"id":"8bdea88.abe9658","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"dfa58004.e5628","type":"signalk-on-delta","z":"8bdea88.abe9658","name":"","x":100,"y":60,"wires":[["14c76be4.78a604"]]},{"id":"14c76be4.78a604","type":"signalk-flatten-delta","z":"8bdea88.abe9658","name":"","x":240,"y":120,"wires":[["e311e40f.fad3b8"]]},{"id":"e311e40f.fad3b8","type":"switch","z":"8bdea88.abe9658","name":"if vessels.self","property":"payload.context","propertyType":"msg","rules":[{"t":"eq","v":"vessels.self","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":180,"wires":[["fdeb876e.0b0c6"]]},{"id":"fdeb876e.0b0c6","type":"switch","z":"8bdea88.abe9658","name":"if  depth.belowSurface","property":"payload.path","propertyType":"msg","rules":[{"t":"eq","v":"environment.depth.belowSurface","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":540,"y":240,"wires":[["ca4ac3ec.4bba3"]]},{"id":"ca4ac3ec.4bba3","type":"change","z":"8bdea88.abe9658","name":"Add 1.0","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"path\": payload.path, \"value\": payload.value +  1.0}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":320,"wires":[["e1a68487.819c28"]]},{"id":"e1a68487.819c28","type":"signalk-send-pathvalue","z":"8bdea88.abe9658","name":"","x":620,"y":420,"wires":[]}]
