examples/adjust-depth.json
[{"id":"8bdea88.abe9658","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ca4ac3ec.4bba3","type":"change","z":"8bdea88.abe9658","name":"Add 1.0","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload +  1.0","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":60,"wires":[["e1a68487.819c28"]]},{"id":"e1a68487.819c28","type":"signalk-send-pathvalue","z":"8bdea88.abe9658","name":"","x":630,"y":60,"wires":[]},{"id":"298fb1f.153a74e","type":"signalk-subscribe","z":"8bdea88.abe9658","name":"environment.depth.belowSurface","flatten":true,"context":"vessels.self","path":"environment.depth.belowSurface","period":1000,"x":170,"y":60,"wires":[["ca4ac3ec.4bba3"]]}]
