examples/filter-out-n2k-src.json
[{"id":"ddac5b0c.41def","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"7791f14c.ab67e","type":"signalk-input-handler","z":"ddac5b0c.41def","name":"","context":"vessels.self","path":"navigation.position","source":"","x":160,"y":220,"wires":[["b56dae59.ad98b"]]},{"id":"b56dae59.ad98b","type":"switch","z":"ddac5b0c.41def","name":"ignore src==45","property":"source.src","propertyType":"msg","rules":[{"t":"neq","v":"45","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":400,"y":220,"wires":[["31c07a54.73b9de"]]},{"id":"31c07a54.73b9de","type":"signalk-input-handler-next","z":"ddac5b0c.41def","name":"","x":640,"y":220,"wires":[]}]
