examples/high-wind-speed-alarm.json
[{"id":"38336563.2cc8e2","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"131f22b7.c357fd","type":"signalk-on-delta","z":"38336563.2cc8e2","name":"","x":120,"y":140,"wires":[["15b745ec.13bfca"]]},{"id":"d212f3ad.6ac1b","type":"switch","z":"38336563.2cc8e2","name":"if wind speed","property":"payload.path","propertyType":"msg","rules":[{"t":"eq","v":"environment.wind.speedApparent","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":140,"wires":[["2d45410c.6ca7ae"]]},{"id":"2d45410c.6ca7ae","type":"switch","z":"38336563.2cc8e2","name":"","property":"payload.value","propertyType":"msg","rules":[{"t":"gt","v":"5.14","vt":"str"},{"t":"lte","v":"5.14","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":320,"wires":[["a5b5aa6.69c9258"],["14796038.fb8e78"]]},{"id":"15b745ec.13bfca","type":"signalk-flatten-delta","z":"38336563.2cc8e2","name":"","x":340,"y":140,"wires":[["d212f3ad.6ac1b"]]},{"id":"a5b5aa6.69c9258","type":"signalk-send-notification","z":"38336563.2cc8e2","name":"send alarm","path":"highWindSpeed","state":"alarm","message":"The wind speed is over 10 knots","visual":true,"sound":true,"x":650,"y":280,"wires":[]},{"id":"14796038.fb8e78","type":"signalk-send-notification","z":"38336563.2cc8e2","name":"clear alarm","path":"highWindSpeed","state":"normal","message":"The wind speed is normal","visual":true,"sound":true,"x":650,"y":380,"wires":[]}]
