examples/high-wind-speed-alarm.json
[{"id":"38336563.2cc8e2","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"2d45410c.6ca7ae","type":"switch","z":"38336563.2cc8e2","name":"if over 5.14","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"5.14","vt":"str"},{"t":"lte","v":"5.14","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":100,"wires":[["a5b5aa6.69c9258"],["14796038.fb8e78"]]},{"id":"a5b5aa6.69c9258","type":"signalk-send-notification","z":"38336563.2cc8e2","name":"send alarm","path":"highWindSpeed","state":"alarm","message":"The wind speed is over 10 knots","visual":true,"sound":true,"x":630,"y":60,"wires":[]},{"id":"14796038.fb8e78","type":"signalk-send-notification","z":"38336563.2cc8e2","name":"clear alarm","path":"highWindSpeed","state":"normal","message":"The wind speed is normal","visual":true,"sound":true,"x":630,"y":160,"wires":[]},{"id":"ef25bd1f.baa4b","type":"signalk-subscribe","z":"38336563.2cc8e2","name":"environment.wind.speedApparent","flatten":true,"context":"vessels.self","path":"environment.wind.speedApparent","period":"5000","x":180,"y":100,"wires":[["2d45410c.6ca7ae"]]}]
