examples/preffered-n2k-src.json
[{"id":"ddac5b0c.41def","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"7791f14c.ab67e","type":"signalk-input-handler","z":"ddac5b0c.41def","name":"navigation.position","context":"vessels.self","path":"navigation.position","source":"","x":150,"y":220,"wires":[["4549d768.e6aa6"]]},{"id":"31c07a54.73b9de","type":"signalk-input-handler-next","z":"ddac5b0c.41def","name":"","x":640,"y":220,"wires":[]},{"id":"4549d768.e6aa6","type":"function","z":"ddac5b0c.41def","name":"prefer src 43","func":"\nconst timeout = 60\nconst prefered = '43'\nlet lastSeen = context.get('lastSeen')\n\nif ( msg.source.src === prefered )\n{\n    node.send(msg)\n    context.set('lastSeen', Date.now())\n} else if ( !lastSeen ) {\n    node.send(msg)\n} else if ( Date.now() - lastSeen > (timeout *60)) {\n    node.send(msg)\n}\n\n","outputs":1,"noerr":0,"x":390,"y":220,"wires":[["31c07a54.73b9de"]]}]
