examples/switch-on-anchor-light.json
[{"id":"cf96057a.038f88","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4f82f0b0.ea4f5","type":"inject","z":"cf96057a.038f88","name":"Trigger Poll","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":100,"wires":[["f3cc3b94.c5e49"]]},{"id":"f3cc3b94.c5e49","type":"function","z":"cf96057a.038f88","name":"Check Anchor Light","func":"\n\nlet _ = global.get('lodash')\nlet app = global.get('app')\n\nlet sog = app.getSelfPath('navigation.speedOverGround')\nlet acVoltage = app.getSelfPath('electrical.inverters.261.acin.voltage')\nlet rpm = app.getSelfPath('propulsion.port.revolutions')\nlet sun = app.getSelfPath('environment.sun')\n\nlet res = 0\nif ( acVoltage && _.isUndefined(acVoltage.value) && sog && !_.isUndefined(sog.value) && rpm && !_.isUndefined(rpm.value) && sun && !_.isUndefined(sun.value) ) {\n    res = sog.value < 0.5 && rpm.value === 0 && sun.value === 'day'\n    //res = 1\n}\n\nreturn {payload: res }","outputs":1,"noerr":0,"x":340,"y":100,"wires":[["8cd816d5.e67028"]]},{"id":"8cd816d5.e67028","type":"signalk-send-put","z":"cf96057a.038f88","name":"Anchor Light","path":"electrical.switches.venus-1.state","x":590,"y":100,"wires":[]}]
